<p style="color: green"><%= notice %></p>

<% content_for :title, "Annotations" %>

<h1>Annotations</h1>

<div id="annotations">
  <% @annotations.each do |annotation| %>
    <%= render annotation %>
    <p>
      <%= link_to t('annotations.show',model: t('activerecord.models.annotation.one')), annotation %>
    </p>
  <% end %>
</div>

<%= link_to t('annotations.new',model: t('activerecord.models.annotation.one')), new_annotation_path %>
