<% content_for :title, "New annotation" %>

<h1>New annotation</h1>

<%= render "form", annotation: @annotation %>

<br>

<div>
  <%= link_to link_to t('annotations.back',model: t('activerecord.models.annotation.other')), annotations_path %>
</div>
